/* ! */

:root {
  --primary-color: #cffff6;
  --secondary-color: #8ac6f5;
  --text-color: #5f6469;
  --bg-color: #fffff7;
}

/* # BODY */

body {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: var(--bg-color);
}

.wrapper {
  min-height: 100vh;
}

.star-rating {
  color: gold;
  font-size: 1rem;
}

/* # Advanced Search Page */

.border-section {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 10px;
}

.doc-search-form {
  flex-basis: 80%;
}

.filter-form {
  background-color: var(--primary-color);
}

.filter-icons-tag {
  color: var(--secondary-color);
}

.filter-btn {
  color: var(--secondary-color);
  background-color: var(--bg-color);
  font-weight: 600;
}

.filter-btn-active{
  color: var(--text-color);
  background-color: var(--secondary-color);
  font-weight: 600;
}

.filter-btn:hover, .filter-btn-active:hover {
  color: var(--text-color);
  background-color: var(--secondary-color);
  font-weight: 600;
  scale: 1.02;
}

.reset-filters-btn {
  color: var(--text-color);
  background-color: var(--secondary-color);
  font-weight: 500;
}

.filter-section {
  overflow-y: scroll;
  max-height: 300px;
  scrollbar-width: none;
}

.filter-section::-webkit-scrollbar {
  display: none;
}

.text-color {
  color: var(--text-color);
}

.sec-bg-color {
  background-color: var(--secondary-color);
}

.docs-card {
  box-shadow: 6px 6px 8px rgba(138, 198, 245, 0.28);
}

.docs-card:hover {
  transform: scale(1.05);
}

/* # HomePage */

.carousel-inner-homepage img {
  margin-bottom: 15px;
  max-height: 561px;
  height: 100%;
  object-fit: contain;
  background-color: #cffff6;
}

.container-homepage-info {
  max-width: 1100px;
  margin: 21px auto;
  padding: 20px;
}

.section-homepage {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
  background-color: #cffff6;
  border-radius: 1rem;
}

.image-container-homepage img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
}

.content-homepage {
  flex: 1;
}

.title-homepage {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.paragrafo-homepage {
  font-size: 16px;
  color: #555;
}

.lista-homepage {
  padding-left: 20px;
}

.lista-punti-homepage {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.reverse-homepage {
  flex-direction: row-reverse;
}

/* Responsività per schermi più piccoli */
@media (max-width: 768px) {
  .section-homepage {
    flex-direction: column;
    text-align: center;
  }

  .reverse-homepage {
    flex-direction: column;
  }

  .image-container-homepage img {
    max-width: 100%;
  }
}

.cards-container-homepage {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
}

.card-homepage {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card-homepage:hover {
  transform: translateY(-5px);
}

.card-homepage img {
  width: 238px;
  margin-bottom: 15px;
}

.card-homepage h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #333;
}

.card-homepage p {
  font-size: 1rem;
  color: #555;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* # Navbar */

.avatar {
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 30px;
  aspect-ratio: 1;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

/* ! < 633px */

@media screen and (max-width: 633px) {
  .docs-card {
    margin: 1rem 2rem;
  }
}

/* # REGISTRATION DOCTOR PAGE*/

.bar-numbers {
  /* background: #00bcd41a; */
  background: var(--primary-color);
}

/* .scrollable-select {
  max-height: 100px;
  overflow-y: auto;
} */

/* .btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  
} */
