/* ! */

:root {
  --primary-color: #e5f8fb;
  --secondary-color: #8ac6f5;
  --text-color: #5f6469;
  --bg-color: #fffff7;
}

/* # BODY */

body {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.doc-search-form {
  flex-basis: 70%;
}

.star-rating {
  color: gold;
  font-size: 1rem;
}

/* # Advanced Search Page */

.filter-form {
  background-color: var(--primary-color);
}

.filter-icons-tag {
  color: var(--secondary-color);
}

.filter-btn:hover, .filter-btn:active {
  color: var(--secondary-color);
  scale: 1.05;
}

.text-col {
  color: var(--text-color);
}


/* # Footer */

.wrapper {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.footer {
  background-color: #404040;
  color: #ffffff;
  height: 100px;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
}

.left-footer > div {
  font-weight: bold;
  font-size: 1.1rem;
}

.footer-right-nav li {
  display: inline-block;
  font-size: 1.3rem;
  margin-left: 10px;
}

/* # HomePage */

.carousel-inner-homepage img {
  margin-bottom: 15px;
  max-height: 561px;
  height: 100%;
  object-fit: contain;
  background-color: #cffff6;
}

.container-speccializzazioni-homepage {
  height: 334px;
  background: #00bcd41a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 98rem;
  text-align: center;
}

.cards-container-homepage {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
}

.card-homepage {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card-homepage:hover {
  transform: translateY(-5px);
}

.card-homepage img {
  width: 238px;
  margin-bottom: 15px;
}

.card-homepage h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #333;
}

.card-homepage p {
  font-size: 1rem;
  color: #555;
}
